# Environment variables
.env
*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project-specific
content_creator_v1/.env
content_creator_v1/__pycache__/
content_creator_v1_jac/env
content_creator_v1_jac/__pycache__/