# Environment variables
.env
*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project-specific
question_generator1.jac
streamlit1.py
question_generator2.jac
streamlit2.py
question_generator3.jac
streamlit3.py


#test
just.jac
mainnot.jac
test.docx
test.pdf


# folders
/documents
/question_generator4

# Frontend-specific ignores (consolidated from FE folder)
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




